.authWrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-image: url('../../../assets/bg/authBg.jpg');
    background-size: 100% 100%;
    background-position: revert-layer;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.authWindow {
    width: 512px;
}