@import url('@global/styles/_variables.css');

.iconWrapper {
    padding: .25rem;
    background-color: color-mix(in srgb, var(--icon-color), transparent 75%);
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius-10);
}