@import url('@global/styles/_variables');

.ErrorMessage {
  display: block;
  color: var(--status-error);
  font-size: var(--helper-text-size);
  font-weight: 600;
  height: var(--helper-text-size);
}
