:root {
    --small-tablets: 640px;
    --tablets: 768px;
    --laptops: 1024px;
    --desktops: 1280px;
    --large-desktops: 1536px;
}

@custom-media --small-tablets (min-width: 640px);
@custom-media --tablets (min-width: 768px);
@custom-media --laptops (min-width: 1024px);
@custom-media --desktops (min-width: 1280px);
@custom-media --large-desktops (min-width: 1536px);