/*! Needs separating */

/** Main Colors */
:root {
  --neutral-0:   hsl(90, 6%, 96%);
  --neutral-50:  hsl(0, 0%, 95%);
  --neutral-100: hsl(53, 22%, 92%);
  --neutral-200: hsl(48, 31%, 84%);
  --neutral-250: hsl(47, 18%, 70%);
  --neutral-300: hsl(37, 13%, 56%);
  --neutral-350: hsl(37, 18%, 54%);
  --neutral-400: hsl(41, 25%, 53%);
  --neutral-500: hsl(41, 23%, 43%);
  --neutral-550: hsl(41, 21%, 40%);
  --neutral-600: hsl(41, 24%, 34%);
  --neutral-750: hsl(26, 22%, 30%);
  --neutral-850: hsl(40, 26%, 13%);

  --warm-gray-100: hsl(80, 14%, 91%);
  --warm-gray-300: hsl(42, 12%, 55%);
  --warm-gray-500: hsl(43, 12%, 42%);

  --warm-green-100: hsl(67, 41%, 75%);
  --warm-green-300: hsl(67, 22%, 50%);
  --warm-green-500: hsl(67, 26%, 35%);
  --warm-green-600: hsl(67, 27%, 26%);
  --warm-green-700: hsl(68, 30%, 21%);
}

:root {
  --status-success: var(--warm-green-500);
  --status-pending: hsl(35, 39%, 53%);
  --status-error: hsl(11, 35%, 47%);
  --status-info: hsl(207, 10%, 42%);
}

:root {
  --font-accent: 'Cormorant Garamond', Georgia, "Times New Roman", serif;
  --font-main: 'Inter', system-ui, -apple-system, sans-serif;
}

/** Typography Roles (Fluid) */
:root {

  /** A biggest H */
  --title-size: clamp(2rem, 0.9rem + 1.5vw, 3rem);

  /** "Good to see you again" */
  --subtitle-size: clamp(1.125rem, 1rem + 0.5vw, 1.4rem);

  /** "EMail", "Password" */
  --label-size: clamp(0.85rem, 0.7rem + 0.3vw, 1.05rem);

  /** Input and Login components */
  --ui-main-size: clamp(0.8rem, 0.7rem + 0.2vw, 0.95rem);

  /** Errors and hints */
  --helper-text-size: clamp(0.75rem, 0.7rem + 0.1vw, 0.85rem);

  /** Footer text */
  --footer-text-size: clamp(0.7rem, 0.65rem + 0.1vw, 0.8rem);
}


/** Color Semantics */
:root {
  --accent: var(--neutral-500);
  --link-inactive: var(--warm-gray-300);
  --link-active: var(--warm-green-500);
  --ui-bg: var(--glass-surface-light-60);
}

/** Corner rounding */
:root {
  --border-radius-4: 4px;
  --border-radius-10: 10px;
  --border-radius-15: 15px;
  --border-radius-20: 20px;
  --border-radius-25: 25px;
}

/** Glass effects*/
:root {
  --glass-base: var(--neutral-0);

  --glass-surface-light-30: color-mix(in srgb, var(--neutral-0), transparent 30%);
  --glass-surface-light-45: color-mix(in srgb, var(--neutral-0), transparent 45%);
  --glass-surface-light-50: color-mix(in srgb, var(--neutral-0), transparent 50%);
  --glass-surface-light-55: color-mix(in srgb, var(--neutral-0), transparent 55%);
  --glass-surface-light-60: color-mix(in srgb, var(--neutral-0), transparent 60%);
  --glass-surface-light-80: color-mix(in srgb, var(--neutral-0), transparent 80%);
}

/** Shadows */
:root {
  --shadow-md: 0 6px 12px rgba(26, 42, 30, 0.12);
}

/** Low bg-contrast shadows */
:root {
  --shadow-text-highlight: 0 2px 6px rgba(255, 255, 255, 0.253), 0 4px 12px rgba(161, 140, 101, 0.363);
}

:root {
  /** header */
  --header-height: 7vh;
  --sidebar-width: 12vw;

  /** breadcrumbs*/
  --breadcrumbs-height: 5vh;
  --breadcrumbs-min-height: 32px;

  /** Separated Shadows */
  /*! TO OVERRIDE*/
  --header-shadow: 0px 8px 60px 20px rgba(26, 42, 30, 0.2);
  --sidebar-shadow: 2px 0px 20px rgba(40, 50, 30, 0.1);
  --content-blocks-shadow: 0px 1px 8px 2px rgba(34, 59, 79, 0.3);
}
