@import './_variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
#root,
html {
    height: 100%;
    font-family: var(--font-main);
    scroll-behavior: smooth;
}

body {
    background: var(--neutral-0);
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
