.emojiButton {
    transition: .2s;
    border: 1px solid var(--neutral-500);
    border-radius: var(--border-radius-10);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.emojiButton:hover { background-color: var(--neutral-300) }

.emojiButton[data-active='true'] {
    transform: translateY(-2px);
    box-shadow: var(--shadow-md);
    background-color: var(--neutral-750);
}

.emojiPickerNativeWrapper,
.emojiPickerKeyboardWrapper {
    transition: opacity .4s ease
}

.emojiPickerKeyboardWrapper {
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 64px; */
    /* right: 0; */
    /* height: 35dvh; */
    /* width: 100vw; */
    /* top: auto; */
}

.emojiPickerNativeWrapper[data-visible='true'],
.emojiPickerKeyboardWrapper[data-visible='true'] {
    opacity: 1;
    pointer-events: auto;
}

.emojiPickerNativeWrapper[data-visible='false'],
.emojiPickerKeyboardWrapper[data-visible='false'] {
    opacity: 0;
    pointer-events: none;
}

.emojiPicker {
    box-shadow: var(--shadow-sm);
    transition: .15s ease-in;

    --epr-header-padding: 1rem 0 !important;
    --epr-category-label-height: 2rem !important;
    --epr-category-navigation-button-size: 2rem !important;
    --epr-emoji-size: 1.7rem !important;
    --epr-emoji-padding: 5px !important;
    --epr-picker-border-radius: var(--border-radius-10) !important;
    --epr-horizontal-padding: 10px !important;
    --epr-search-input-border-radius: var(--border-radius-4) !important;
}

.emojiPickerLight {
    --epr-bg-color: color-mix(in srgb, var(--warm-green-700), transparent var(--opacity-full)) !important;
    --epr-emoji-variation-picker-bg-color: color-mix(in srgb, var(--neutral-300), transparent var(--opacity-low)) !important;
    --epr-picker-border-color: var(--neutral-350) !important;
    /* --epr-text-color: var(--cold-blue-gray-400) !important; */
    --epr-text-color: transparent !important;
    --epr-category-icon-active-color: var(--neutral-300) !important;
    --epr-category-label-text-color: var(--neutral-750) !important;
    --epr-highlight-color: var(--warm-green-500) !important;
    --epr-search-input-bg-color: var(--neutral-100) !important;
    --epr-search-input-bg-color-active: var(--neutral-100) !important;
    --epr-search-border-color: var(--neutral-200) !important;
    --epr-search-border-color-active: var(--warm-green-500) !important;
    --epr-hover-bg-color: var(--neutral-200) !important;
    --epr-hover-bg-color-reduced-opacity: transparent !important;
    --epr-focus-bg-color: transparent !important;
    --epr-category-label-bg-color: color-mix(in srgb, var(--neutral-100), transparent var(--opacity-full)) !important;
    --epr-reactions-bg-color: color-mix(in srgb, var(--neutral-100), transparent var(--opacity-full)) !important;
    --epr-skin-tone-picker-menu-color: var(--neutral-100) !important;
    --epr-skin-tone-outer-border-color: var(--neutral-250) !important;
    --epr-preview-border-color: var(--neutral-200) !important;
}

.emojiPickerDark {
    --epr-bg-color: transparent !important;
    --epr-picker-border-color: transparent !important;
    --epr-text-color: var(--neutral-500) !important;
    --epr-category-icon-active-color: var(--neutral-250) !important;
    --epr-category-label-text-color: var(--neutral-600) !important;
    --epr-category-label-bg-color: var(--neutral-100) !important;
    --epr-highlight-color: var(--warm-green-300) !important;
    --epr-search-input-bg-color: var(--neutral-750) !important;
    --epr-search-input-bg-color-active: var(--neutral-600) !important;
    --epr-search-border-color: var(--neutral-750) !important;
    --epr-search-border-color-active: var(--warm-green-300) !important;
    --epr-dark-hover-bg-color-reduced-opacity: color-mix(in srgb, var(--neutral-750), transparent 50%) !important;
    --epr-skin-tone-picker-menu-color: var(--neutral-750) !important;
    --epr-skin-tone-outer-border-color: var(--neutral-600) !important;
    --epr-reactions-bg-color: color-mix(in srgb, var(--neutral-750), transparent 20%) !important;
    --epr-preview-border-color: var(--neutral-750) !important;
    --epr-emoji-variation-picker-bg-color: var(--neutral-750) !important;
    --epr-hover-bg-color: var(--neutral-200) !important;
    --epr-focus-bg-color: var(--neutral-250) !important;
    --epr-picker-scrollbar-color: var(--neutral-250) !important;
}

.emojiPickerLight :global(.epr-cat-btn.epr-active) { filter: none !important }
.emojiPickerLight :global(.epr-cat-btn.epr-active) svg { fill: var(--neutral-750) !important }
.emojiPickerLight :global(.epr-category-navigation::after) { background-color: var(--neutral-350) !important }
.emojiPickerLight :global(.epr-cat-btn.epr-active) { filter: saturate(1020%) hue-rotate(180deg) brightness(95%) contrast(18%) !important }
.emojiPickerLight :global(.epr-cat-btn:not(.epr-active)) { filter: grayscale(1) opacity(0.35) !important }
.emojiPickerLight :global(.epr-cat-btn:not(.epr-active):hover) { filter: grayscale(1) opacity(0.7) !important }
.emojiPicker :global(.epr-emoji-variation-picker) { border-radius: var(--border-radius-10) !important }

.emojiPicker :global(.epr-emoji-native) {
    font-family: "Noto Color Emoji" !important;
    font-variant-emoji: emoji !important;
    /* text-rendering: geometricPrecision !important; */
    
    
    /* font-kerning: none !important;
    letter-spacing: 0 !important;
    word-spacing: 0 !important;
    font-stretch: 100% !important;

    -webkit-font-smoothing: none !important;
    -moz-osx-font-smoothing: none !important; */
}

.emojiPickerLight :global(.epr-body::-webkit-scrollbar-thumb) {
    background-color: var(--neutral-250) !important;
    border-radius: var(--border-radius-25) !important;
}

.emojiPickerLight :global(.epr-body) {
    scrollbar-width: thin;
    scrollbar-color: var(--neutral-500) transparent;
}

.emojiPickerLight :global(.epr-emoji-category-label) {
    font-size: var(--font-size-level-5) !important;
    font-family: var(--font-main) !important;
    font-weight: 600 !important;
    backdrop-filter: blur(4px) !important;
}
