@import url('@global/styles/_breakpoints.css');

.gridWrapper {
    display: grid;
    gap: var(--grid-gap, 0);
    grid-auto-rows: var(--grid-auto-rows, min-content);
    align-items: var(--grid-align-items, start);
    height: var(--grid-height, fit-content);
}

.gridWrapper[data-height='fit']{ width: fit-content }
.gridWrapper[data-height='max']{ width: 100% }

/* TODO Adaptive */

@media (--desktop) {
    .gridWrapper {
        grid-template-columns: var(--grid-template-columns, repeat(var(--grid-columns), 1fr));
    }
}

@media (--tablet) {
    .gridWrapper {
        display: grid;
        grid-template-columns: var(--grid-template-columns, repeat(auto-fit, minmax(240px, 1fr)));
    }
}

@media (--mobile) {
    .gridWrapper {
        grid-template-columns: var(--grid-template-columns, 1fr);
    }
}