.authWrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-image: url('../../assets/bg/authBg.jpg');
    background-size: 100% 100%;
    background-position: revert-layer;
    width: 100vw;
    height: 100%;
}

.authCard {
    padding: 2rem;
    background-color: var(--glass-surface-light-60);
    backdrop-filter: blur(3.5rem);
    border-color: rgb(255, 255, 255, 40%);
    border-radius: var(--border-radius-10);
    text-align: center;
    width: clamp(512px, 20vw, 1024px);
    min-height: 256px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: var(--shadow-md);
}
