@import './_variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body,
#root,
html {
    height: 100%;
    font-family: var(--font-main);
    overflow: hidden;
    position: fixed;
    min-width: 360px;
    width: 100%;
}

body {
    background: var(--neutral-0);
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
    display: block;
}
[data-interactive] {
    transition: .3s;
    cursor: pointer;
}
[data-selected="true"], [data-interactive]:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-md);
}

/* [data-selected="true"]::after{
    content: '•';
    position: absolute;
    right: 3%;
} */

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}