@import './_variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body,
#root,
html {
    height: 100%;
    font-family: var(--font-main);
    overflow: hidden;
    position: fixed;
    min-width: 360px;
    width: 100%;
}

body {
    background: var(--neutral-0);
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
    display: block;
}

[data-interactive] {
    transition: .3s;
    cursor: pointer;
}

[data-selected="true"],
[data-interactive]:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-md);
}


::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, var(--cold-blue-gray-400), transparent var(--opacity-low));
    border-radius: 12px;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    border-radius: 12px;
    margin: 6px 0;
}

::-webkit-scrollbar {width: 7px }
::-webkit-scrollbar-corner {background: transparent }
::-webkit-scrollbar-thumb:active {background-color: var(--neutral-550) }
::-webkit-scrollbar-thumb:hover {background-color: var(--cold-blue-gray-400) }

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--cold-blue-gray-400) transparent;
    }
}

@media (prefers-reduced-motion: reduce) {
    html { scroll-behavior: auto }
}