@import url("@global/styles/_variables.css");
@import url('@global/styles/_semantics.css');

.wrapper {
    --inner-offset-top: 0.7rem;
    --inner-offset-left: 1rem;

    transition: .1s ease-in;
    position: relative;
    height: fit-content;
}

.inputWrapper {
    position: relative;
    line-height: 0;
}

.inputWrapper,
.input {
    transition: .2s ease-in;
}

.input {
    display: block;
    caret-color: var(--accent);
    padding: var(--inner-offset-top) var(--inner-offset-left);
    outline: none;
    /*TODO a11y*/
    background-color: var(--glass-surface-light-80);
    border: 1px solid var(--neutral-250);
    border-radius: var(--border-radius-10);
    width: 100%;
    color: var(--neutral-750);
    font-weight: 400;
    font-size: var(--ui-main-size);
    text-align: var(--input-text-align);
}

.inputWrapper[data-valid="valid"] .input {
    color: var(--neutral-850);
}

.input::placeholder {
    color: var(--status-info);
    font-family: var(--font-main);
    font-weight: 400;
}

.inputWrapper .input:focus {
    will-change: transform;
    background-color: var(--glass-surface-light-30);
    border: 1px solid var(--neutral-350);
    color: var(--neutral-850);
    box-shadow: var(--shadow-sm);
    animation: none;
}

.inputWrapper[data-valid="invalid"] .input {
    caret-color: var(--status-error);
    will-change: transform;
    color: var(--status-error);
    border: 1px solid var(--status-error);
}

.inputWrapper[data-valid="invalid"]:not(:focus-within) {
    animation: shake .2s ease-in-out;
}

.eye {
    display: block;
    line-height: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--inner-offset-left);

    cursor: pointer;
    stroke: var(--neutral-500);
    user-select: none;
}

.error {
    position: absolute;
    font-size: var(--helper-text-size);
    font-weight: 500;
    padding-left: 1rem;
    color: var(--status-error);
    bottom: 0;
    left: 0px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(4px);
    }
}