@import url("@global/styles/_variables");
@import url("@global/styles/_breakpoints");

.stack {
    display: flex;
    gap: var(--stack-gap, 0);
    flex-direction: var(--stack-direction, column);
    align-items: var(--stack-align, stretch);
    justify-content: var(--stack-justify, start);
    align-content: flex-start;
    overflow: var(--stack-overflow, visible);
    min-width: 0;
    min-height: 0;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
}

.stack[data-width='max'] { width: 100% }
.stack[data-width='fit'] { width: fit-content }
.stack[data-width='auto'] { width: auto }

.stack[data-wrap='true'] { flex-wrap: wrap }
.stack[data-wrap='false'] { flex-wrap: nowrap }

.stack[data-height="fit"] { height: fit-content }
.stack[data-height="max"] { height: 100% }