@import url('@global/styles/_variables.css');

.heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: var(--neutral-0);
    margin: 0;
    padding: 0;
}