@import url('@global/styles/_breakpoints.css');

.gridWrapper {
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: 1fr; */
    align-items: var(--grid-align-items);
    height: var(--grid-height);
    width: 100%;
}

/* TODO Adaptive */

@media (--desktop) {
    .gridWrapper {
        grid-template-columns: repeat(var(--grid-columns), 1fr);
    }
}

@media (--tablet) {
    .gridWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

@media (--mobile) {
    .gridWrapper {
        grid-template-columns: 1fr;
    }
}