@import url("@global/styles/_variables");
@import url("@global/styles/_breakpoints");

.stackWrapper {

    --stack-gap-sm: 0.5rem;
    --stack-gap-md: 1rem;
    --stack-gap-lg: 2rem;

    display: flex;
    flex-direction: var(--stack-direction, column);
    gap: var(--stack-gap, 1rem);
    align-items: var(--stack-align, stretch);
    flex-wrap: var(--stack-wrap);
    justify-content: var(--stack-justify);
    width: 100%;
}

/* @media (--mobile) {
    .stackWrapper {
        flex-direction: column;
    }
} */
