@import url('@global/styles/_variables.css');

.baseContainer {
    grid-area: content;
    padding: 2rem 2rem 0 2rem;
    background: var(--neutral-0);

    height: 100%;
    overflow-y: auto;
    min-height: 0;
}
