@import url('@global/styles/_variables.css');

.baseContainer {
    padding: 2rem 2rem 0 2rem;
    grid-area: content;
    background: var(--neutral-15);
    width: calc(100vw - var(--sidebar-width));
}
