@import url('@global/styles/_variables.css');
@import url('@global/styles/_breakpoints.css');

.sidebar {
    display: grid;
    grid-area: sidebar;
    grid-template-areas:
        "menu"
        "actions";
    grid-template-rows: 6fr 1fr;
    background: var(--neutral-0);
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    user-select: none;
    gap: 2rem;
}

.sidebar__menu {
    font-weight: 700;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar__link {
    padding: 1rem 0.7rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.sidebar__link:hover {
    background: var(--neutral-50);
}

.sidebar__link,
.sidebar__link:visited {
    color: var(--link-inactive);
}

.sidebar__link--active,
.sidebar__link:focus {
    outline: none;
    border-left: 3px solid var(--link-active);
}

.sidebar__link--active>span {
    color: var(--link-active);
}

.sidebar__actions {
    padding: 0.5rem;
    grid-area: actions;
}

.sidebar__actions-list {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

@media (--small-tablets) {
    .sidebar__link {
        font-size: 0.8em;
    }
}

@media (--laptops) {
    .sidebar__link {
        font-size: 0.8em;
    }
}