@import url('@global/styles/_variables.css');
@import url('@global/styles/_breakpoints.css');

/*! Отрефакторить адаптив */

.surface {
    transition: .3s;
    border-radius: 10px;
    background: var(--neutral-0);
    /* padding: 1rem; */
    border: 1px solid var(--neutral-400);

    padding: 1.25rem;
    backdrop-filter: blur(3.5rem);
    border-radius: var(--border-radius-10);
    text-align: center;
    box-shadow: var(--shadow-md);
}

.glass {
    background-color: var(--glass-surface-light-45);
    border: 1px solid rgb(255, 255, 255, 40%);
    width: clamp(512px, 20vw, 1024px);
}

.solid, .outline {
    width: 100%;
    background-color: var(--lite-white);
    text-align: left;
    border: 1px solid color-mix(in srgb, var(--cold-blue-grey-400), transparent var(--opacity-high));
}

.surface[data-animated="true"]:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-md);
}

.outline {
    background-color: color-mix(in srgb, var(--surface-color), transparent var(--opacity-medium));
    border: 1px solid var(--surface-color);
}