@import url('@global/styles/_variables.css');
@import url('@global/styles/_breakpoints.css');

.surface {
    border-radius: 10px;
    background: var(--neutral-0);
    padding: 1rem;
    border: 1px solid var(--neutral-400);
}

.glass,
.solid {
    padding: 1.25rem;
    background-color: var(--glass-surface-light-45);
    backdrop-filter: blur(3.5rem);
    border-color: rgb(255, 255, 255, 40%);
    border-radius: var(--border-radius-10);
    text-align: center;
    width: clamp(512px, 20vw, 1024px);
    box-shadow: var(--shadow-md);
}

.solid {
    width: 100%;
    background-color: var(--lite-white);
    text-align: left;
    border: 1px solid color-mix(in srgb, var(--cold-blue-grey-400), transparent var(--opacity-high));
}