@import url('@global/styles/variables.css');
@import url('@global/styles/breakpoints.css');

.surface {
    border-radius: 10px;
    overflow: hidden;
    background: var(--bg-surface);
    padding: 1rem;
    border: 1px solid var(--border-primary);
}

.surface>* {
    padding: 0.5rem 0
}