@import url('@global/styles/_variables.css');
@import url('@global/styles/_breakpoints.css');

.surface {
    height: 100%;
    width: 100%;
    padding: 1.25rem;
    background: var(--lite-white);
    border: 1px solid var(--neutral-400);
    border-radius: var(--border-radius-25);
    backdrop-filter: blur(3.5rem);
    box-shadow: var(--shadow-md);
    transition: .3s;
}

.surface[data-radius='sm'] {border-radius: var(--border-radius-4)}
.surface[data-radius='md'] {border-radius: var(--border-radius-10)}
.surface[data-radius='lg'] {border-radius: var(--border-radius-15)}

.glass {
    background-color: var(--glass-surface-light-45);
    border: 1px solid rgb(255, 255, 255, 40%);
}

.solid,
.outline {
    background-color: var(--lite-white);
    border: 1px solid color-mix(in srgb, var(--cold-blue-grey-400), transparent var(--opacity-high));
}

.surface[data-animated="true"]:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-md);
}

.outline {
    background-color: color-mix(in srgb, var(--surface-color), transparent var(--opacity-full));
    border: 1px solid color-mix(in srgb, var(--surface-color), transparent var(--opacity-super));
    box-shadow: none;
}