@import url('@global/styles/variables.css');

.header {
    user-select: none;
    display: grid;
    grid-area: header;
    grid-template-columns: 3fr 15fr 2fr;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    min-height: var(--header-min-height);
    background: var(--header-bg);
    /* border-bottom: 1px solid var(--border-primary); */
}

.header__logo,
.header__content,
.header__profile {
    display: inline-block;
    padding: 0 1rem;
}

.header__logo {
    justify-self: flex-start;
}