@import url('@global/styles/_variables');
@import url('@global/styles/_semantics');

.button {
    display: flex;
    /* TODO Проверить необходимость проброса пропса выравнивания */
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease, box-shadow 0.2s ease;
    padding: 0.7em;
    width: var(--button-width, fit-content);
    box-sizing: border-box;
    font-size: var(--ui-main-size);
    font-weight: 500;
    border-radius: var(--border-radius-4);
    cursor: pointer;
    backface-visibility: hidden;
}

.accent {
    background-color: var(--neutral-350);
    color: var(--warm-gray-100);
    border: 1px solid transparent;
}

.outline {
  background-color: transparent;
  border: 1px solid var(--neutral-350);
  color: var(--neutral-350);
}

.transparent {
    background-color: transparent;
    border: none;
}

.button[data-hover-animated="true"]:hover { box-shadow: var(--shadow-md) }
.button[data-hover-animated="false"]:hover { box-shadow: none }
.button:disabled {
    opacity: .6;
    cursor: not-allowed;
}

/** Повышаем специфичность */
.button.isSubmitting:disabled {
    opacity: .3;
    cursor: wait;
}

.button[data-radius='sm'] {border-radius: var(--border-radius-4)}
.button[data-radius='md'] {border-radius: var(--border-radius-10)}
.button[data-radius='lg'] {border-radius: var(--border-radius-15)}

.button[data-size='sm'] { padding: .3rem }
.button[data-size='md'] { padding: .875rem }
.button[data-size='lg'] { padding: 1rem }

.button[data-width='fit']{ width: fit-content }
.button[data-width='max']{ width: 100% }