@import url("@global/styles/_variables.css");

.inputWrapper {
    transition: .3s ease-in;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 1.3rem;
    /* background-color: lime; */
}

.input {
    caret-color: var(--neutral-400);
    transition: .3s ease;
    padding: 0.7em 1rem;
    line-height: 16px;
    outline: none;
    background-color: var(--glass-surface-light-80);
    border: 1px solid var(--neutral-200);
    border-radius: var(--border-radius-10);
    width: 100%;
    color: var(--neutral-750);
    font-weight: 400;
    font-size: var(--ui-main-size);
}

.input:focus {
    transition: .1s ease-in;
    background-color: var(--glass-surface-light-30);
    border: 1px solid var(--neutral-300);
}

.label {
    padding-left: 1rem;
    color: var(--neutral-500);
    pointer-events: none;
    transition: 0.2s ease-out;
    font-weight: 500;
    text-shadow: var(--shadow-text-highlight);
    font-size: var(--field-label-size);
}

.input[data-valid="valid"] {
    color: var(--neutral-850);
    border-color: var(--neutral-500);
}

.input[data-valid="invalid"] {
    caret-color: var(--status-error);
    will-change: transform;
    color: var(--status-error);
    border: 1px solid var(--status-error);
}

.input[data-valid="invalid"]:not(:focus) {
    animation: shake .2s ease-in-out;
}

.input:focus {
    color: var(--neutral-850);
    animation: none;
}

.input::placeholder {
    color: var(--status-info);
    font-family: var(--font-main);
    font-weight: 400;
}

.error {
    position: absolute;
    font-size: var(--helper-text-size);
    font-weight: 500;
    padding-left: 1rem;
    color: var(--status-error);
    bottom: 0;
    left: 0px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(4px);
    }
}
