@import url('@/global/styles/_variables.css');
@import url('@/global/styles/_breakpoints.css');

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.preferencesGrid {
    -webkit-overflow-scrolling: touch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 1rem;
}

.preferencesGrid>* {
    break-inside: avoid;
    display: inline-block;
    width: 100%;
    /* margin-bottom: 1.5rem; */
}

@media (--mobile) {
    .preferencesGrid {
        column-count: 1;
    }
}
