@import url('@global/styles/_variables.css');
@import url('@global/styles/_breakpoints.css');

.scheduler {
    display: grid;

    grid-template-columns:
        [task-list] 3fr [calendar] 1fr;
    grid-template-rows:
        [stats] auto
        [header calendar] 1fr
        [task-list calendar] 1fr;
}

.container {
    display: flex;
    justify-content: space-between;
}

@media (--desktop) {
    .scheduler {
        grid-template-areas:
            'stats'
            'header calendar'
            'task-list calendar';
    }
}
