@import url('@global/styles/variables.css');

.scheduler {
    display: grid;
    grid-template-areas: 'task-list calendar';
    grid-template-columns: [task-list] 3fr [calendar] 1fr;
}

.task-list {
    display: flex;
    justify-content: space-between;
}