@import url('@global/styles/_variables.css');
@import url('@global/styles/_semantics.css');

.headingWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1 { font-size: var(--title-size)}
h2 { font-size: var(--header-size)}
h3 { font-size: var(--ui-main-size)}
h4 { font-size: var(--label-size)}
h5 { font-size: var(--footer-text-size)}
h6 { font-size: var(--helper-text-size)}

.heading {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: var(--heading-text-align, start);
}

.accent, .secondary {
    color: var(--neutral-750);
    font-family: var(--font-accent);
    font-weight: 500;
}

.secondary{
    font-family: var(--font-main);
    color: var(--neutral-750);
}

.subtitleAccent {
    color: var(--neutral-500);
    font-weight: 650;
}


.subtitleSecondary {
    font-size: var(--footer-text-size);
}
