@import url('@global/styles/_variables.css');

.colorElement,
.colorPipette {
    transition: .2s ease-in-out;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 0;
    will-change: transform;
    border: 1px solid var(--neutral-25);
}

.colorPipette {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px
}

.colorElement:hover {
    transform: scale(1.3);
}

.colorPipette:hover {
    transform: scale(1.5);
}

.colorElement:hover, .colorPipette:hover {
    z-index: 1;
}
