@import url('@global/styles/_variables');
@import url('@global/styles/_semantics');


.legalNotice {
  word-wrap: break-word;
  color: var(--status-info);
  font-size: var(--helper-text-size);
}

.legalNotice a {
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--status-info);
}
