@import url('@global/styles/_variables.css');
@import url('@global/styles/_breakpoints.css');

.surface {
    /*TODO a11y */
    outline: none;
    min-height: 0;
    height: 100%;
    width: 100%;
    padding: 1.25rem;
    background: var(--lite-white);
    border: 1px solid var(--neutral-400);
    backdrop-filter: blur(3.5rem);
    transition: .3s;

    border-radius: var(--border-radius-25);
    height: var(--surface-height, fit-content);
}

.surface[data-radius='sm'] { border-radius: var(--border-radius-4) }
.surface[data-radius='md'] { border-radius: var(--border-radius-15) }
.surface[data-radius='lg'] { border-radius: var(--border-radius-25) }

.surface[data-height='max'] { height: 100% }
.surface[data-height='fit'] { height: fit-content }

.surface[data-width='max'] { width: 100% }
.surface[data-width='fit'] { width: fit-content }

.glass {
    background-color: var(--glass-surface-light-45);
    border: 1px solid color-mix(in srgb, var(--cold-blue-gray-400), transparent 80%);
}

.solid,
.outline {
    background-color: var(--lite-white);
    border: 1px solid color-mix(in srgb, var(--cold-blue-gray-400), transparent var(--opacity-high));
}

.surface[data-animated="true"]:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-md);
}

.outline {
    background-color: color-mix(in srgb, var(--surface-color), transparent var(--opacity-full));
    border: 1px solid color-mix(in srgb, var(--surface-color), transparent var(--opacity-super));
    box-shadow: none;
}