@import '@global/styles/_variables.css';

.container {
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    grid-template-columns:  [sidebar] var(--sidebar-width) [header] 1fr;
    grid-template-rows:     [header] var(--header-height)
                            [content] minmax(0, 1fr);
    position: relative;
    min-height: 100vh;
}

