@import url('@global/styles/_variables.css');
@import url('@global/styles/_semantics.css');

.tag {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    padding: .5rem .75rem;
    font-family: var(--font-main), 'Noto Color Emoji';
    font-size: var(--helper-text-size);
    border-radius: var(--border-radius-20);
    flex-wrap: wrap;
    width: fit-content;
    color: var(--tag-color);
    background-color: color-mix(in srgb, var(--tag-color), transparent 90%);
    border: 1px solid color-mix(in srgb, var(--tag-color), transparent 35%);
    text-shadow: var(--shadow-text-highlight);
    overflow: visible;
    gap: .5rem
}

.tag>* {
    display: block;
}

.tag>p {
    font-size: var(--font-size-level-6);
    font-weight: 450;
}