@import url('@global/styles/_variables.css');
@import url('@global/styles/_semantics.css');

.tag {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    font-family: var(--font-main), 'Noto Color Emoji';
    font-size: var(--helper-text-size);
    flex-wrap: wrap;
    overflow: visible;
    gap: .5rem;
    padding: .5rem .75rem;
}

.default {
    color: var(--tag-color);
    background-color: color-mix(in srgb, var(--tag-color), transparent 90%);
    border-radius: var(--border-radius-20);
    border: 1px solid color-mix(in srgb, var(--tag-color), transparent 35%);
}
.system {
    color: var(--neutral-100);
    background-color: var(--tag-color);
    border-radius: var(--border-radius-4);
    
}

.tag[data-width="fit"]{ width: fit-content }
.tag[data-width="max"]{ width: 100% }

.tag>* {
    display: block;
}

.tag>p {
    font-size: var(--font-size-level-6);
    font-weight: 450;
}

.tag[data-selected="false"]{
    opacity: .4;
}